@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  
  margin-left: 6rem;
  font-family: system-ui, sans-serif;
  font-weight: 725;
  font-size: 21px;
  padding: 1rem;
  background: rgb(248, 248, 241); 
}
